<div>
  <img src="https://www.binarywebsolution.com/img/ecommerce.jpg" style="margin-left: 5%"
    width="90%" >
</div>

<br><br>
<div class="container" style="margin-left:5%;width:70%">

  <div class="row">

    <div class="col-md-6">
      <form [formGroup]="addProd" (ngSubmit)="onSubmit()">

        <div class="form-group">

          <b>Product ID:</b>
          <input name="prodId" class="form-control" placeholder="Product ID" type="text" formControlName="prodId"
            [ngClass]="{ 'is-invalid': submitted && f.prodId.errors }">
          <div *ngIf="submitted && f.prodId.errors" class="invalid-feedback">
            <div *ngIf="f.prodId.errors.required">Product ID is required</div>
            <div *ngIf="f.prodId.errors.minlength">Product ID must have minlength 3</div>
          </div>

        </div>

        <div class="form-group">

          <b>Product Name:</b>
          <input name="prodName" class="form-control" placeholder="Product Name" type="text" formControlName="prodName"
            [ngClass]="{ 'is-invalid': submitted && f.prodName.errors }">
          <div *ngIf="submitted && f.prodName.errors" class="invalid-feedback">
            <div *ngIf="f.prodName.errors.required">Product Name is required</div>
            <div *ngIf="f.prodName.errors.minlength">Product Name must have minlength 6</div>
          </div>

        </div>


        <div class="form-group">
          <b>Product Price:</b>
          <input name="prodPrice" class="form-control" placeholder="Product Price" type="text"
            formControlName="prodPrice" [ngClass]="{ 'is-invalid': submitted && f.prodPrice.errors }">
          <div *ngIf="submitted && f.prodPrice.errors" class="invalid-feedback">
            <div *ngIf="f.prodPrice.errors.required">Product Price is required</div>
            <!-- <div *ngIf="f.prodPrice.errors.minlength">Product Price must have minlength 6</div> -->
            <div *ngIf="f.prodPrice.errors.pattern">Invalid Prod Price</div>
          </div>
        </div>


        <div class="form-group">
          <b>Product Description:</b>
          <input name="prodDesc" class="form-control" placeholder="Product Desc" type="text" formControlName="prodDesc"
            [ngClass]="{ 'is-invalid': submitted && f.prodDesc.errors }">
          <div *ngIf="submitted && f.prodDesc.errors" class="invalid-feedback">
            <div *ngIf="f.prodDesc.errors.required">Product Description is required</div>
            <div *ngIf="f.prodDesc.errors.minlength">Product Description must have minlength 10</div>
            <div *ngIf="f.prodDesc.errors.maxlength">Product Description should not exceed 50 chars</div>
          </div>
        </div>

       
        <div class="form-group">

          <b>Product Image:</b>
          <input name="prodImage" class="form-control" placeholder="Product Name" type="text"
            formControlName="prodImage" [ngClass]="{ 'is-invalid': submitted && f.prodImage.errors }">
          <div *ngIf="submitted && f.prodName.errors" class="invalid-feedback">
            <div *ngIf="f.prodImage.errors.required">Product Image is required</div>

          </div>

        </div>

        <button style="margin-left: 30%" type="submit" id="loginSubmit" class="btn btn-success loginFormElement">Add
          Product</button>

      </form>

    </div>
  </div>
</div>

<br><br>

 <h4><b>Stand in the spotlight with these glamorous outfits</b></h4>

<br><br>

<table *ngIf="products" class="container">
  <tr class="row">
    <td class="col-md-3" *ngFor="let product of products">
      <div class="thumbnail">
        <a href="">
          <img class="prodImage" src="{{product.prodImage}}">

          <div class="caption">
            <b>
              <p class="prodName">{{product.prodName}}</p>
            </b>
          </div>
          <b>
            <p class="prodPrice">Rs: {{product.prodPrice}}</p>
          </b>
          <!-- <p class="prodDesc">{{product.prodDesc}}</p> -->
        </a>
        <div class="container" >
          <div class="row" >
       
          <button class="glyphicon glyphicon-edit" style="margin-left:60px;" [routerLink]="['/update-prod',product._id]"></button> &nbsp;&nbsp;
          <button class="glyphicon glyphicon-trash" (click)="deleteProduct(product._id)"></button>
        </div>
      </div>
      </div>
    </td>
  </tr>


</table>

<br><br><br>

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, Jaipur, Raj</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">+91 7568543012</a> <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span> <a href="tel:#">+91 9571195353</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/about-us">AboutUs</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">SignUp</a></li>
          
        </ul>
      </div>
    </div>
  </div>
  
</footer>

<!-- /.container -->