<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <a class="navbar-brand" routerLink="">StreetStyleStore</a>
  
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.home" routerLink="">Home</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.userhome" routerLink="/user-home">UserHome</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.aboutus" routerLink="/about-us" >AboutUs</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.login" routerLink="/login">Login</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.register" routerLink="/register">SignUp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.products" routerLink="/products" >Products</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.cart" routerLink="/cart" >Cart</a>
    </li> &nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.logout" style="cursor:pointer" (click) = "authService.logoutUser()">Logout</a>
    </li> &nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.adminhome" routerLink="/admin-home" >Add Products</a>
    </li>&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link" *ngIf="currentURLs.adminpage" routerLink="/adminpage" >AdminHome</a>
    </li>
  </ul>
</nav>